Source: dwarfs
Maintainer: mhx <github@mhxnet.de>
Section: utils
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 11)

Package: dwarfs
Architecture: amd64
Depends: fuse3, ${misc:Depends}
Description: DwarFS (Deduplicating Warp-speed Advanced Read-only File System)
 A high-performance read-only file system with built-in compression and deduplication.
 Includes mkdwarfs, dwarfsck, dwarfsextract, and the FUSE driver.
