#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_build:
	mkdir -p build
	curl -L "https://github.com/mhx/dwarfs/releases/download/0.7.2/dwarfs-universal-0.7.2-Linux-x86_64" -o build/dwarfs
	chmod +x build/dwarfs
	upx -d build/dwarfs || true
